In [1]:
import pandas as pd

In [2]:
# Data sources
df_customer = pd.read_csv("../csv_sample_data/Customer_ID_Superstore.csv")
df_final = pd.read_csv( "../csv_sample_data/final_superstore.csv")
df_product = pd.read_csv("../csv_sample_data/Product_ID_Superstore.csv")

In [3]:
df_customer

,customer_id,customer_name,segment,city,country,state,region,postal_code
0,CG-12520,Claire Gute,Consumer,Henderson,United States,Kentucky,South,42420
1,DV-13045,Darrin Van Huff,Corporate,Los Angeles,United States,California,West,90036
2,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,United States,Florida,South,33311
3,BH-11710,Brosina Hoffman,Consumer,Los Angeles,United States,California,West,90032
4,AA-10480,Andrew Allen,Consumer,Concord,United States,North Carolina,South,28027
...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,Philadelphia,United States,Pennsylvania,East,19140
789,RS-19870,Roy Skaria,Home Office,Burlington,United States,Iowa,Central,52601
790,SC-20845,Sung Chung,Consumer,Arlington Heights,United States,Illinois,Central,60004
791,RE-19405,Ricardo Emerson,Consumer,Kent,United States,Ohio,East,44240
792,SM-20905,Susan MacKendrick,Consumer,Newark,United States,Ohio,East,43055

In [5]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    793 non-null    object
 1   customer_name  793 non-null    object
 2   segment        793 non-null    object
 3   city           793 non-null    object
 4   country        793 non-null    object
 5   state          793 non-null    object
 6   region         793 non-null    object
 7   postal_code    793 non-null    int64
dtypes: int64(1), object(7)
memory usage: 49.7+ KB

In [6]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       9994 non-null   int64
 1   order_id     9994 non-null   object
 2   order_date   9994 non-null   object
 3   ship_date    9994 non-null   object
 4   ship_mode    9994 non-null   object
 5   customer_id  9994 non-null   object
 6   product_id   9994 non-null   object
 7   sales        9994 non-null   float64
 8   quantity     9994 non-null   int64
 9   discount     9994 non-null   float64
 10  profit       9994 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 859.0+ KB

In [7]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1862 entries, 0 to 1861
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1862 non-null   object
 1   product_name  1862 non-null   object
 2   sub-category  1862 non-null   object
 3   category      1862 non-null   object
dtypes: object(4)
memory usage: 58.3+ KB

In [ ]:
# Single data point EDA

In [9]:
# Customer
# EDA
df_customer.columns

Index(['customer_id', 'customer_name', 'segment', 'city', 'country', 'state',
       'region', 'postal_code'],
      dtype='object')

In [10]:
# Duplicate check
df_customer[df_customer.duplicated(subset=['customer_id', 'customer_name'], keep=False)]

Empty DataFrame
Columns: [customer_id, customer_name, segment, city, country, state, region, postal_code]
Index: []

In [ ]:
# User segmentation
# population
df_customer.groupby[]